@charset "UTF-8";
*{
    margin:0px ;
    padding: 0px;
}
header{
    margin: 30px;
    display: block;
}
nav{
    text-align: right;  
    margin-right: 20px;
    margin-top: -60px;
    margin-bottom: 65px;
}
nav > a {
    padding: 10px;
    margin: 10px;
    text-decoration: none;
    color: black;
}
section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:40px  40px 15px 40px;
}

div#p1{
    max-width: 40%;
}
#p1 h1{
    font-size: 2.8em;
}
#p1 p{
    text-align: justify;
}   
div#img{
    background-color: rgba(128, 128, 128, 0.211);
    border-radius: 10px;
    height: 200px;
    width: 300px;;
}
button{
    background-color: black;
    color: white;
    margin: 0px 0px 60px 40px;
    padding: 8px 15px;
    border-radius: 5px;
}

.ola{
    display:flex; 
    background-color: gray;
    width: 50px;
    height:50px ;  
}
#ola1{
    margin-left: 90px;
    margin-bottom: -100px;
    border-radius: 50%;
}
#c1{
    text-align: center;
}
#ola2{
    margin-left: -75px;
    margin-bottom: -100px;
    border-radius: 50%;
}
#c2{
    text-align: center;
}

#rodinha{
    display: flex;
    margin: 60px 40px;
}
