  @charset "UTF-8";

body{
    background-color: lightsteelblue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
h1{
    color: rgb(0, 52, 6);
    background-color: lightblue;
}
h2{
    color: darkred;
}
p{
    text-align: justify;
}