@charset "UTF-8";
*{
    padding: 0px;
    margin: 0px;
}
body {
    width: 100vw;
    background-color: rgb(255, 255, 255);
    
}
header{
    background-color: white;
    background-attachment:fixed;
}
header > h1{
    padding: 50px;
} 
header > p{
    position: absolute;
    left: 250px;
    top:65px;
    font:lighter;
}
nav{
    margin-top: -55px;
    text-align: right;
}


@media (max-width: 800vw) {
   main{
    height: 100vh;
    background-color: bisque;
    
}
   
}
#caixa{
    background-color: rgb(175, 161, 143);
    position: absolute;
    margin-left: 30%;
    top: 50%;
    transform: translate(-0%, -50%);
    
}
#caixa > img{
    border-radius: 50%;
    height: 200px;
    width: 200px;
    padding: 50px;
}