@charset "UTF-8";
* {
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: #55c97d;
    color: white;
    margin: 0;
}
#cabecalho{
    background-image: linear-gradient(90deg,#027333 ,#008b31,#04d93930);
    height: 190px;
    margin-top: -25px;
    box-shadow: 5px 5px 5px #02733398;
    margin-left: -15px;
   
}
#cabecalho > h1{
    padding-top: 25px;
}
.topo{
    padding-top: 1%;
    text-align: center;
}
#menu{
    flex-wrap: wrap;
    display: flex;

}
@media (max-width: 500px){
    #menu >ul {
        display: inline-flex;
        margin-left: -10px;
        font-size: 0.8em;
    }
    #cabecalho{
    height: 180px;
    }
}
@media (max-width: 410px){
    #menu > ul{
        display: inline-flex;;
        margin-left: -10px;
        font-size: 0.8em;
        margin-top: 25px
    }
    #cabecalho{
    height: 170px;
    text-align: justify;
    font-size: 15px;
    }
    #cabecalho > h1{
        padding-top: 20px;
    }
    
}
ul{
    list-style-type: none;
    display: inline-flex;
    
    
}
#menu > ul > li:hover{
    background-color: rgba(16, 96, 0, 0.715);
    border-radius: 5px;
    padding: 2px 10px;
    margin: auto;
    
}#menu >ul> li{
    background-color: #008b3100; 
    color: white;
    padding-right: 5px;
    
}
main{
    background-color: white;
    text-align: justify;
    margin: auto;
    padding: 10px ;
    border-radius: 5px;
    color: black;
    width: 80%;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.427);
}
img{
 width: 100%;
}
#droid{
   display: block;
   max-width: 50%;
   margin: 0 auto;
   height: auto;
}
h2{
    padding: 1%;
    background-image: linear-gradient(90deg,#01b12d5a,white);
}