@charset "UTF-8";
body{
    background-color: #55c97d;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    
}

header{
    background-image: linear-gradient(90deg,#027333 ,#008b31,#04d93930);
    padding: 1px;
    text-align: center;
    color: white;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.288);
    
}
header > p{
    padding: 10px;
}
nav {
   
   text-align: left;
}
header > nav > a{
    color: white;
    text-decoration: none;
    margin: 0px 10px;
}
nav a:hover {
    background-color: #003316;
    padding: 2px 10px;
    margin: auto;
    border-radius: 5px;
}

main{
    background-color: white;
    width: 80vw;
    margin: auto;
    padding: 10px;
    text-align: justify;
    border-radius: 5px;
    box-shadow:5px 1px 10px rgba(0, 0, 0, 0.288);
}
img{
    width: 100%;
}
@media (max-width: 500px){
    #video{
        background-color: #008b31;  
        padding:  50px; 
    }
}
#video{
        background-color: #008b31; 
        margin: auto; 
         
    }
