@charset "UTF-8";
* {
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-image: linear-gradient(90deg, #C4EEF2,#7AB8BF);
}

main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 8px 8px 8px  #006d7a6f;
    width: 600px;
    padding: 10px;
    margin: auto;   
}
p{
    text-align: justify;
}
h1{
    color: #A67458;
    text-align: center;
    text-shadow: 2px 2px 2px #704f3b6a;
}
h2{
    color: #734f3a;
}