@charset "UTF-8";
* {
    padding: 0px;
    margin: 0px;
}
header{
    background-color: black;
    color: white;
    height: 200px;
}
header > h1{
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 40px;
    text-align: center;
  
    font-size: 5em;
}
header > p{
    padding: 5px;
    text-align: center;
    font-size: 1.5em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
}
header > p > a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}
article > p{
    font-size: 2.5em; 
    line-height: 70px;
    padding: 80px;
    text-align: justify;
    
}
.img{  
    box-shadow: inset 0px 10px 10px 0px  rgba(0, 0, 0, 0.288);
    background-image: url(img/ian-talmacs-bl7i1sZTrRQ-unsplash.jpg);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    padding: 15px;
    min-width: 400px;
}
.img2{
    box-shadow: inset 0px 10px 10px 0px  rgba(0, 0, 0, 0.288);
    background-image: url(img/bdbd.jpg);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed; 
    padding: 15px;
}
.imgtxt { 
    
    background-color: rgba(0, 0, 0, 0.411);
    color: white;
    max-width: 450px;
    padding: 50px;
    border-radius:15px;
    text-align: justify;
}
footer{
    background-color: black;
    
    width: 100%;
    text-align: center;
    color: white;
    padding: 5px;
}
