main {
  display: flex;
  /*justify-content: center;
  align-items: center;*/
  padding: 60px;
  gap: 80px;
 /* flex-wrap: wrap;*/
  background-color: #f0e5db;
}

#caixa {

  background: #e9dfd5;
  padding: 40px;
  border-radius: 10px;
  text-align: center;
  width: 280px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

img {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  margin-bottom: 20px;
}

#intro {background-color: white;
  max-width: 450px;
}
